@media screen and (min-width:200px){
    .list_container > ul > li > a{
        font-size:1em;
    }

/* Button languages */

    .languages{
        flex-direction:row;
    }
    #languages{
        margin-left:3em;
    }
    #languages-toggle_container{
        right:-1.4em;
        top:13.5em;
        height:5em;
        width:11.9em;
    }
    .flag{
        height:2em;
        margin:.5em;
    }
}
@media screen and (min-width:320px){
    #text-name_container{
        display:flex;
        font-size:.6em;
        margin-right:2em
    }
    #last-name{
        margin:.4em 0em 0 1em;
    }
    .list_container > ul > li > a{
        font-size:1.5em;
    }
    #white-bars{
        height:2.5em;
    }

/* Button languages */

    #languages-toggle_container{
        right:2.6em;
        top:20em;
    }
}
@media screen and (min-width:360px){
    #text-name_container{
        font-size:.8em;
        margin-right:2em
    }
    .list_container > ul > li > a{
        font-size:2em;
    }

/* Button languages */

    #languages-toggle_container{
        right:.3em;
        top:25em;
        height:8em;
        width:20em;
    }
    .flag{
        height:3.5em;
    }
}
@media screen and (min-width:375px){
    .list_container > ul > li > a{
        font-size:2.5em;
    }

/* Button languages */

    #languages-toggle_container{
        right:-.7em;
        top:30em;
        height:8em;
        width:22em;
    }
    .flag{
        height:3.5em;
        margin:1em;
    }
}
@media screen and (min-width:480px){
    .list_container > ul > li > a{
        font-size:1.2em;
    }

/* Button languages */

    #languages-toggle_container{
        right:4.6em;
        top:15em;
        height:3em;
        width:11em;
    }
    .flag{
        height:1.5em;
        margin:.5em;
    }
}
@media screen and (min-width:650px){
    #white-bars{
        display:none;
    }
    #text-name_container{
        font-size:.7em;
        margin:0 2em;
    }
    #fisrt-name{
        display:block;
        margin-bottom:.7em;
    }
    #last-name{
        margin-left:2em;
    }
    .list_container{
        position:relative;
        top:0em;
        background-color:#0000;
        width:100%;
        height:100%;
        animation:none;
    }
    .list_container > ul{
        margin:0 0 0 .4em;
        flex-direction:row;
        align-items:center;
        justify-content:center;
    }
    .list_container > ul > li{
        margin:0em;
    }
    .list_container > ul > li >a{
        font-size:1.2em;
        margin:0em;
    }

/* Button languages */

    #languages{
        height:2em;
        margin:0 1em;
    }
    #languages-toggle_container{
        right:1em;
        top:5em;
        height:7em;
        width:25em;
    }
    .flag{
        height:3.5em;
        margin:1em;
    }
}
@media screen and (min-width:768px){
    #text-name_container{
        font-size:.85em;
    }
    .list_container > ul{
        margin-left:.4em;
    }
    .list_container > ul > li{
        margin:.6em;
    }
    .list_container > ul > li >a{
        font-size:1.2em;
    }

/* Button languages */

    #languages{
        height:2.5em;
    }
    #languages-toggle_container{
        height:8em;
    }
    .flag{
        height:4em;
    }
}
@media screen and (min-width:1000px){
    #text-name_container{
        font-size:1em;
    }
    .list_container > ul > li > a{
        font-size:1.7em;
    }

/* Button languages */

    #languages{
        height:3em;
        margin-right:2em;
    }
}
@media screen and (min-width:1280px){
    #text-name_container{
        margin-top:.4em;
        margin-left:2em;
        font-size:1em;
    }
    #last-name{
        margin-left:2em;
        animation:lastName 20s infinite alternate-reverse;
    }
    @keyframes lastName{
        from{
            margin-left:2em;
        }
        to{
            margin-left:2.7em;
        }
    }
    .list_container > ul{
        margin-left:12em;
    }
    .list_container > ul > li >a{
        margin-top:-.3em;
        font-size:1.8em;
        padding:.5em;
    }
    
    /* Button languages */
    
    #languages{
        height:4em;
        margin:0 3em 0 0em;
    }
    #languages-toggle_container{
        top:7em;
        right:3em;
        height:12em;
        width:35em;
    }
    .flag{
        height:6em;
    }
}
@media screen and (min-width:1500px){
    .list_container > ul{
        margin-left:40em;
    }
    .list_container > ul > li >a{
        margin-top:-.5em;
        font-size:2em;
    }
}