@media screen and (min-width:240px){
/* This is the form view */

    #first-view{
        height:20em;
    }
    #form_container{
        height:70%;
    }
    .form-text{
        font-size:.9em;
    }
    .form-area{
        width:18em;
        font-size:9px;
    }
    #message{
        height:4em;
    }
    #submit{
        margin-top:1em;
        width:7em;
        height:2em;
        font-size:.7em;
    }
    #warnings{
        font-size:.2em;
    }

/* This is the social networks */

    #social_container > h1{
        font-size:1.3em;
    }
    .social{
        height:3em;
    }
}
@media screen and (min-width:320px){
/* This is the form view */

    #first-view{
        height:35em;
    }
    #form_container{
        height:80%;
    }
    .form-text{
        font-size:1.3em;
    }
    .form-area{
        width:18em;
        font-size:14px;
    }
    #message{
        height:6em;
    }
    #submit{
        margin-top:1.5em;
        width:8em;
        height:2.5em;
        font-size:1em;
    }
    #warnings{
        font-size:.6em;
        margin-top:.5em;
    }

/* This is the social networks */

    #social_container > h1{
        font-size:1.6em;
    }
    .social{
        height:4em;
    }
}
@media screen and (min-width:360px){
/* This is the form view */

    #first-view{
        height:40em;
    }
    .form-text{
        font-size:1.5em;
    }
    .form-area{
        width:18em;
        font-size:16px;
    }
    #message{
        height:10em;
    }
    #submit{
        margin-top:1.3em;
        font-size:1.3em;
    }
    #warnings{
        font-size:.8em;
    }

/* This is the social networks */

    #social_container > h1{
        font-size:1.8em;
    }
    .social{
        height:4.5em;
    }
}
@media screen and (min-width:375px){
/* This is the form view */

    #first-view{
        height:51em;
    }
    .form-text{
        font-size:2em;
    }
    .form-area{
        width:16em;
        font-size:18px;
    }
    #message{
        height:6em;
    }
    #submit{
        margin-top:1.2em;
        font-size:1.4em;
    }
    #warnings{
        font-size:.9em;
    }
}
@media screen and (min-width:480px){
/* This is the form view */

    #first-view{
        height:20em;
    }
    #form_container{
        height:70%;
    }
    .form-text{
        font-size:.8em;
    }
    .form-area{
        width:18em;
        font-size:8px;
    }
    #message{
        height:5em;
    }
    #submit{
        margin-top:.7em;
        font-size:.7em;
    }
    #warnings{
        font-size:.4em;
    }

/* This is the social networks */

    #social_container > h1{
        font-size:2em;
    }
}
@media screen and (min-width:768px){
/* This is the form view */

    #first-view{
        height:100vh;
    }
    #form_container{
        height:80%;
    }
    .form-text{
        font-size:1.5em;
    }
    .form-area{
        width:20em;
        font-size:16px;
    }
    #message{
        height:6em;
    }
    #submit{
        margin-top:1.2em;
        font-size:1.1em;
    }
    #warnings{
        font-size:1em;
    }

/* This is the social networks */

    .social{
        height:6.5em;
    }
}
@media screen and (min-width:1280px){
/* This is the form view */

    .form-area{
        width:25em;
        font-size:16px;
    }
    #submit{
        margin-top:1.5em;
    }
    #warnings{
        font-size:1.2em;
        margin-top:.5em;
    }
}
@media screen and (min-width:1500px){
/* This is the form view */

    .form-text{
        font-size:3em;
    }
    .form-area{
        width:25em;
        font-size:25px;
    }
    #message{
        height:8em;
    }
    #submit{
        margin-top:1.5em;
        font-size:1.5em;
    }
}