@media screen and (min-width:240px){
    #first-text{
        font-size:.7em;
        margin-top:6em;
    }
    #second-view{
        height:75em;
    }
    .title{
        font-size:1.8em;
    }
    .lan{
        height:6em;
        margin:1em;
    }

/* Projects */
    .proyect{
        height:7em;
    }
    .work-text_container{
        margin-top:1em;
    }
    .work-text_container > h3{
        font-size:1.3em;
    }
    .work-text_container > p{
        font-size:.6em;
        text-align:start;
    }
    .button1{
        margin:1em 0;
    }
}
@media screen and (min-width:320px){
    #first-text{
        font-size:.9em;
        margin-top:4em;
    }
    #second-view{
        height:45em;
    }
    .title{
        font-size:2em;
    }

/* Projects */

    .proyect{
        height:8em;
    }
    .work-text_container{
        margin-top:1em;
    }
    .work-text_container > p{
        font-size:.8em;
        text-align:start;
    }
    .button1{
        margin:.5em 0;
    }
}
@media screen and (min-width:375px){
/* Projects */

    .proyect{
        height:10em;
    }
    .work-text_container{
        margin-top:.5em;
    }
    .work-text_container > p{
        font-size:.9em;
        text-align:start;
    }
    .button_container{
        flex-direction:row;
    }
    .button1{
        margin:0 1em 0 0;
    }
}
@media screen and (min-width:768px){
/* Projects */

    .work_container{
        flex-direction:row;
    }
    .proyect{
        margin-left:2em;
        height:12em;
    }
    .work-text_container{
        width:50%;
        margin-left:2em;
        height:12em;
    }
    .work-text_container > h3{
        font-size:1.5em;
        margin:0 0 .5em 0;
    }
    .work-text_container > p{
        font-size:.8em;
    }
    .button1{
        margin-right:2em;
    }
    .button{
        padding:1em;
        border-radius:1em;
        width:10em;
    }
}
@media screen and (min-width:1280px){
    #first-text{
        font-size:1.5em;
    }
    #second-view{
        height:50em;
    }
    .title{
        font-size:3em;
    }
    .lan{
        height:10em;
        margin:3em;
    }

/* Projects */

    .proyect{
        margin-left:4em;
        height:17em;
    }
    .work-text_container{
        margin-left:4em;
        height:17em;
    }
    .work-text_container > h3{
        font-size:2em;
    }
    .work-text_container > p{
        font-size:1.3em;
    }
    .button1{
        margin-right:3em;
    }
    .button{
        font-size:1em;
    }
}
@media screen and (min-width:1500px){
    #first-text{
        font-size:2em;
    }
    #second-view{
        height:50em;
    }
    .title{
        font-size:3.5em;
    }
    .lan{
        height:12em;
        margin:4em;
    }

/* Projects */

    .work_container{
        justify-content:center;
    }
    .proyect{
        height:20em;
    }
    .work-text_container{
        height:20em;
    }
    .work-text_container > h3{
        font-size:2.1em;
    }
    .work-text_container > p{
        font-size:1.5em;
    }
    .button1{
        margin-right:6em;
    }
    .button{
        font-size:1.2em;
    }
}